* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body {
    background-color: #FAF1E6;
}

img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: -20px;
}

.sign-in-container {
    background-color: #FFFFFF;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-in-container h1 {
    margin-top: 50px;
    text-align: center;
}

.sign-in-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-container form input {
    margin-top: 50px;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 10px;
    color: #064420;
    background-color: #FDFAF6;
}

.sign-in-container form button {
    margin-top: 60px;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-style: bold;
    color: #FAF1E6;
    background-color: #064420;
}

.sign-in-container form button:hover {
    background-color: #08632e;
}

.sign-in-container form input:focus {
    outline: none;
}


@media only screen and (max-width: 768px) {
    .sign-in-container {
        width: 300px;
        height: 400px;
        border-radius: 20px;
    }

    img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .sign-in-container form input {
        margin-top: 30px;
        height: 30px;
        font-size: 13px;
        padding: 8px;
        border-radius: 5px;
    }

    .sign-in-container form button {
        margin-top: 40px;
        height: 30px;
        font-size: 16px;
        border-radius: 5px;
    }
}